li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff8ee;
  border-radius: 50px;
  padding: 5px 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 10000;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-item li {
  font-size: 18px;
  font-weight: 500;
}

.login-signup {
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  transition: all 0.5s ease;
  z-index: 100;
}

.user-profile img {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}
