@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff8ee;
  font-family: "Montserrat Alternates", sans-serif;
}

.dark,
button,
text {
  background-color: black;
  color: #fff;
}

.dark button {
  background-color: #fff;
  color: black;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 25px;
}

.navbar {
  z-index: 1000;
}
