.profile-card {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.open {
  top: 55px;
  left: 0;
  background-color: #fff;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  padding: 10px 12px;
  display: block;
  opacity: 1;
}

.open::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  transform: rotate(45deg);
  top: -4px;
  right: 20px;
}
